/**********************************************************************/
/************                   CELULARES                **************/


.experience {
    background: blue;
    color: white;
    width: 100%;    
    text-align: center;
    grid-area: exp;
}



/*********          FOOTER          ********/

footer {
    background: orange;
    color: black;
    width: 100%;   
    text-align: center;
    grid-area: footer;
}




/**********************************************************************/
/*************                  TABLETS                  **************/


@media (min-width: 600px) {

    
}



/**********************************************************************/
/***************                   PC                ******************/


@media (min-width: 900px) {

    
}