

/**********************************************************************/
/************                   CELULARES                **************/

.header {
    
    height: 100vh;    
    text-align: center;
    grid-area: header;
    background: url(/assets/header.jpg) no-repeat center center/cover;
    margin: 0;
    padding: 0;
    

    
}



/**********************************************************************/
/*************                  TABLETS                  **************/

@media (min-width: 600px) {


}




/**********************************************************************/
/***************                   PC                ******************/


@media (min-width: 900px) {

    
}