
/* GENERAL STYLE */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}


/* ELEMENTS PROPERTIES */

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 100%;
    background: black;
}

.header {
    background: green;
    height: 100%;    
    text-align: center;
    grid-area: header;
    background: url(/assets/header.jpg) no-repeat center center/cover;
    margin: 0;
    padding: 0;
}

.nav {
    background: none;
    width: 100%;   
    text-align: center;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    color: white;
    border: white 2px solid;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
}

.nav-left img {
    height: 90%;
}

.nav-left p {
    margin-left: 10px;
}

.nav-right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.nav ul li {
    padding: 0 15px;
}

/* TESTIMONIALS GRID */

.testimonials-container {
    background: indigo;
    color: white;
    width: 100%;
    text-align: center;
    grid-area: tests;

    display: grid;
    gap: 10px;
}

.testimonials-container > div {
    background: red;
}


/* WORKS GRID */

.works-container {
    background: lightblue;
    width: 70%;   
    text-align: center;
    grid-area: works;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr); 
}

.works-container img {
    width: 100%;
    height: 170px;
}

/* SKILLS CONTAINER */

.skills {
    background: yellow;
    width: 100%;   
    text-align: center;
    grid-area: skills;
}


/* EXPERIENCE CONTAINER */

.experience {
    background: blue;
    color: white;
    width: 100%;    
    text-align: center;
    grid-area: exp;
}

/* FOOTER */

footer {
    background: orange;
    color: black;
    width: 100%;   
    text-align: center;
    grid-area: footer;
}


/* GRID CONTAINER */

.grid-container {
    display: grid;
    gap: 0;    
    grid-template-rows: 450px 60px auto auto auto auto 100px;
    grid-template-areas: 
        "header"
        "nav"
        "works"
        "tests"
        "skills"        
        "exp"
        "footer";
}


/* TABLET */

@media (min-width: 600px) {

    .works-container { 
        
        grid-template-columns: repeat(2, 1fr);
           
    }

    .testimonials-container {
        
        grid-template-columns: repeat(2, 1fr);
    }

}


/* PC */

@media (min-width: 900px) {

    body {
        
        min-height: 100%;
        background: lightseagreen;
        margin: 0 auto;
    }

    .works-container { 
        
        grid-template-columns: repeat(4, 1fr);      
    }

    .testimonials-container {
        
        grid-template-columns: repeat(4, 1fr);
    }
}