/**********************************************************************/
/************                   CELULARES                **************/

.svg-1 {
    grid-area: svg-1;
    position: relative;
    top: 5px;
    z-index: -10;
    background-color: var(--body-color);
    transform: scaleY(1.3);
    overflow: hidden;
    max-width: 100%;
}
.svg-2 {
    grid-area: svg-2;
    transform: scaleY(-1.5);
    position: relative;
    top: 1px;
    z-index: -10;
    background-color: var(--body-color);
    overflow: hidden;
    max-width: 100%;
}


.works-container {
    
    
    background-color: var(--primary-color);
    color: var(--theme-color);
    width: 100%;   
    text-align: center;
    grid-area: works;
    margin: 0px auto;
    padding: 60px 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    
}



.works-container h2 {
    
    margin-bottom: 50px;
    font-size: 4.3vw;
    font-size: 6.0vh;
    
}


.works-container > div {
    width: 100%;
    height: 70vw;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    
    border-radius: 10px;
    /* back-image style */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    
    

}



.work-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(11,103,123,0.5);
    
    padding: 8%;
    border-radius: 10px;
    
    opacity: 1;
    visibility: visible;
    
}

.works-container > div > article > h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 5vw;
    color: var(--theme-color);
    
    
}

.works-container > div > article > p {
    
    
    
    text-align: center;
    width: 100%;
    font-size: 3.4vw;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
    
}

.works-container > div > article > a {
    text-decoration: none;
    color: var(--theme-color);
    font-size: 3.4vw;
    
    
}

.work1 {
    
    background-image: url("/assets/work1.jpg");
    
    
}

.work2 {
    background-image: url("/assets/work2.jpg");
}

.work3 {
    background-image: url("/assets/work3.jpg");
}

.work4 {
    background-image: url("/assets/work4.jpg");
}
.work5 {
    background-image: url("/assets/work5.jpg");
}

.work6 {
    background-image: url("/assets/work6.jpg");
}

.work7 {
    background-image: url("/assets/work7.jpg");
}

.work8 {
    background-image: url("/assets/work8.jpg");
}



/**********************************************************************/
/*************                  TABLETS                  **************/

@media (min-width: 600px) {

    .works-container {
        position: relative;
        top: -2px;
    }

    .works-container h2 {
        grid-area: title;
    }

    .works-container { 
        gap: 20px;
        padding: 40px 70px 120px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "title title"
            "row   row"
            "row   row"
            "row   row"
            "row   row";  

    }

    .works-container > div {
        
        height: 35vw;     
    
    }

    /*adicional*/
 
    .works-container > div > article > h3 {
        
        font-size: 2.8vw;
                
    }
    
    
    .works-container > div > article > p {

        font-size: 2.1vw;

    }
    
    .works-container > div > article > a {
       
        font-size: 2.1vw;
        
    }
    
}




/**********************************************************************/
/***************                   PC                ******************/


@media (min-width: 900px) {

    .works-container h2 {
        grid-column-start: 1;
        grid-column-end: 7;
    }
    
    .work1{
        
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .work2{
        
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .work3{
        
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .work4{
        
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .work5{
        
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .work6{
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .work7{
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .work8{
        
        grid-column-start: 4;
        grid-column-end: 6;
    }

    .works-container { 
        
        grid-template-columns: repeat(6, 1fr);  
        grid-template-rows: 10vw 22vw 22vw 22vw;
        gap: 40px;
        padding: 100px 100px 120px;
        align-items: center;
        justify-content: center;
            
    }

    .works-container > div {
        height: 100%;
        transition: all 200ms ease-out;
    }

    .works-container h2 {
    
        margin-bottom: 50px;
        font-size: 4.3vw;
        font-size: 6.0vh;
    }

      

    /*adicional*/
   
    .works-container > div {
        
        height: 100%;
        
        
        border-radius: 10px;
        /* back-image style */    
    
    }
    
    .work-text {
        
        background-color: rgba(11,103,123,0.5);
        
        
        border-radius: 10px;
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        
    }
    
    
    
    .works-container div:hover > .work-text {
        opacity: 1;
        visibility: visible;
    }
    
    .works-container > div > article > h3 {
        margin-bottom: 150px;
        margin-top: 30px;
        font-size: 2.1vw;
        
        transition: all 500ms ease-out;
        
    }
    
    .works-container > div > article > p {
                
        width: 100%;
        font-size: 1.3vw;
        margin-top: 120px;
        margin-bottom: 20px;
                
    }

    .works-container > div > article > a {
        font-size: 1.4vw;
        padding-bottom: 3px;
    }

    .works-container div:hover {
        transform: scale(1.05);
    }
    
    .works-container div:hover > .work-text h3 {
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .works-container > div > article > a:hover {
        border-bottom: 2px solid var(--theme-color);
        
    }
    
    .works-container div:hover > .work-text p {
        
        margin-top: 20px;
    }
    
    
    
}